{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hydros | Thiago Feitosa</title>
        <link href="{% static 'webpack/main.css' %}" rel="stylesheet" />
        <script src="{% static 'webpack/main.js' %}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    </head>
    <body>
        {% include 'partials/_menu.html' %}
        {% block content %} {% endblock %}
    </body>
</html>
